{% load static %}
<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">
</head>
<header>
    <div class="header-img">
        <button class="head-info"><img src="{% static 'main/img/info.png' %}" width="180px"></button>
        <button class="head-info"><img src="{% static 'main/img/cours.png' %}" width="180px"></button>
        <button class="head-info"><img src="{% static 'main/img/help.png' %}" width="180px"></button>
        <button class="head-info"><img src="{% static 'main/img/tipyl.png' %}" width="80px"></button>
        </div>
</header>
<body>
    <div class="how">
        <h4>Прежде чем приступать к обучению на онлайн-курсах, студентам УрФУ необходимо завести корпоративный почтовый ящик в домене @urfu.me.
        После этого вспомнить название курса и от какого ВУЗа курс. Людям с плохой памятью воспользоваться модеусом. У каждого ВУЗа обучение проходит на разных платформах(почти все на openedu, ВШЭ - learnonline.hse.ru Регистрация на платформах доступна ниже. Выберете платформу и следуйте инструкциям.
        </h4>
        <p class="how1"><b><br>Создание корпоративной почты.</br></b>

            <br>Прежде чем приступать к обучению на онлайн-курсах, студентам УрФУ необходимо завести корпоративный почтовый ящик в домене @urfu.me</br>

            <br>Он нужен для того, чтобы получать актуальную информацию об обучении, быть в курсе всех нововведений, узнавать о важных датах на онлайн-курсах, а также иметь доступ к личному кабинету студента.</br>

            <br><a href="https://vk.com/im?sel=138211924&z=video-196169577_456239026%2F8d64b1d184b7dedd9b">(видеоинструкция)</a> по созданию и активации корпоративного почтового ящика в домене urfu.me.</br>

            <br>Студенческая учётная запись выдаётся индивидуально каждому студенту при поступлении. Обратите внимание, что ivan.ivanov@at.urfu.ru — не является почтовым адресом.</br>

            <br>Куда обращаться за помощью?</br>

            <br>Адреса технической поддержки вузов-партнёров:</br>
            <ul>
                <li>ИТМО – <a href="https://openedu.ru/university/ITMOUniversity/">openedu@cde.ifmo.ru</a></li>
                <li>МГУ – <a href="support@distant.msu.ru">support@distant.msu.ru</a></li>
                <li>МИСиС – <a href="https://openedu.ru/university/misis/">openedu@misis.ru</a></li>
                <li>МИФИ – <a href="https://openedu.ru/university/mephi/">openedu@mephi.ru</a></li>
                <li>МФТИ – <a href="https://openedu.ru/university/mipt/">openedu@mipt.ru</a></li>
                <li>НИУ ВШЭ – <a href="https://elearning.hse.ru/">elearn@hse.ru</a></li>
                <li>Политех – <a href="https://openedu.ru/university/spbstu/">openedu@spbstu.ru</a></li>
                <li>СПбГУ – <a href="https://online.spbu.ru/partners/">partner.online@spbu.ru</a></li>
                <li>ТюмГУ – <a href="https://lms.utmn.ru/course/index.php?categoryid=181">mooc@utmn.ru</a></li>
            </ul>
        </p>
    </div>
    <div class="info">
        <p>Выберите необходимую <br>платформу, чтобы посмотреть путь</br></p>
        <div class="line"><img src="{% static 'main/img/line.png' %}" width="600px"></div>
    </div>
    <section>
        <div class="vsego">
            <p>Всего: 6 платформ</p>
            <div class="cherta"><img src="{% static 'main/img/line 1.png' %}"></div>
        </div>
    </section>
    <nav>
        <div class="navi-img">
            <a href="{% url 'pyti' %}"><button class="nav-imge"><img src="{% static 'main/img/openedu.png' %}" width="400px"></button></a>
            <a href="{% url 'pyti1' %}"><button class="nav-imge1"><img src="{% static 'main/img/urfu.png' %}" width="400px"></button></a>
            <a href="{% url 'pyti2' %}"><button class="nav-imge2"><img src="{% static 'main/img/learn.png' %}" width="400px"></button></a>
            <a href="{% url 'pyti3' %}"><button class="nav-imge3"><img src="{% static 'main/img/lxp.png' %}" width="400px"></button></a>
            <a href="{% url 'pyti4' %}"><button class="nav-imge4"><img src="{% static 'main/img/ulern.png' %}" width="400px"></button></a>
            <a href="{% url 'pyti5' %}"><button class="nav-imge5"><img src="{% static 'main/img/ulern urfu.png' %}" width="400px"></button></a>

        </div>
    </nav>
</body>
</html>