{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/vyz.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">
</head>
<header>
    <div class="header-img">
        <button class="head-info"><img src="{% static 'main/img/FAQ.png' %}" width="180px"></button>
        <button class="head-info"><img src="{% static 'main/img/cours.png' %}" width="180px"></button>
        <button class="head-info"><img src="{% static 'main/img/help.png' %}" width="180px"></button>
        </div>
</header>
<body>
    <div class="info">
        <p>Курсы УрФУ</p>
        <div class="line"><img src="{% static 'main/img/skobka.png' %}" width="470px"></div>
    </div>
    <section>
        <div class="vsego">
            <p>Всего: 11 вузов</p>
            <div class="cherta"><img src="{% static 'main/img/line 1.png' %}"></div>
        </div>
    </section>
    <div class="search-box">
      <input type="text" name="" class="search-txt" placeholder="Type to search"/>
      <a class="search-btn" href="#">
      <i class="fa fa-search" aria-hidden="true"></i>
      </a>
    </div>
    <nav>
        <details class="details">
  <summary class="details__title">Soft Skills: навыки XXI века </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 16 недель</p>
      <p><b>Описание курса:</b> Единственное, что вы можете изменить, – это вы сами, и данный курс содержит работающие инструменты для этого. Применяйте их, чтобы повлиять на ход своего будущего, будущее своей команды и организации. Ставьте перед собой цели, помогайте другим, делайте это осознанно, используя метакомпетенции на основе когнитивного, эмоционального и цифрового интеллекта.
            Внимание к окружающим и уверенность в своих ценностях лежат в основе всего, что связано с 	профессиональным влиянием и умением руководить.
            После этого курса вы сможете:
            •выявлять уникальные способности других людей, раскрывать их потенциал;
            •воспринимать, регулировать и конструктивно реагировать на чужие идеи;
            находить решение проблем, управлять конфликтами, оказывать влияние и укреплять доверие с другими людьми.
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для освоения дисциплины необходимы общие знания школьной программы. </p>
      <p><b>Результаты</b> обучения:
            <br>РО-1.  Устанавливать системные связи, корректно интерпретировать информацию, выстраивать непротиворечивую систему аргументации</br>
            <br>РО-2.  Выявлять проблему, находить способы ее решения в нестандартных условиях, презентовать свои идеи.</br>
            <br>РО-3.  Эффективно взаимодействовать в виртуальной среде и управлять распределенными командами</br>
            <br>РО-4.  Оптимально использовать внутренние ресурсы для проектирования и достижения целей.</br>
            <br>РО-5.  Управлять процессом коммуникации (стратегия win-win).</br>
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Аккумуляторы, топливные элементы и их роль в современном мире </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 12 недель</p>
      <p><b>Описание курса:</b> В курсе рассказывается об аккумуляторах, топливных элементах и их роли в современном обществе. Для наглядного представления роли химических источников тока основной фокус делается на электромобилях. В начале курса проводится краткий экскурс в историю для изучения причин экономической неудачи технологий, которые всеми рассматривались как наиболее перспективными. Затем рассматриваются основные причины их возрождения (экологические, экономические и политические) и то какое влияние это окажет на развитие технологий аккумуляторов и топливных элементов. Затем проведется сравнение основных технологий и материалов химических источниках тока. </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Курс «Аккумуляторы, топливные элементы и их роль в современном мире» является вводным, рассчитан на общую аудиторию и не требует каких-либо специальных знаний.
	        Однако, усвоение материала будет более эффективным, если обучающиеся будут обладать 	элементарными знаниями по направлениям:
            •химия – раздел «Неорганическая химия» в объёме среднего общего образования;
            •физика – раздел «Электричество и магнетизм» в объёме среднего общего образования;
      </p>
      <p><b>Результаты обучения:</b>
            После освоения курса обучающийся будет способен:
            Понимать и правильно формулировать причины роста популярности химических источников тока и 	электромобилей.
            Оценивать риски, оказывающие влияние на рост доли электромобилей и альтернативной энергетики
            Описывать типы гибридных транспортных средств и основные параметры аккумуляторов
            Определять сильные и слабые стороны различных типов химических источников тока
            Выбирать наиболее подходящий тип аккумуляторов в зависимости от области применения
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Аналитическая химия. Часть 2. Инструментальные методы анализа </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 16 недель</p>
      <p><b>Описание курса:</b> В решении крупнейших общечеловеческих проблем ведущее место принадлежит аналитической химии. Особую актуальность аналитическая химия приобрела в настоящее время. Знание основ аналитической химии одинаково необходимо современному студенты, инженеру, преподавателю, предпринимателю.
            Онлайн-курс позволит получить актуальные знания и сформировать у слушателей новые и/или усовершенствовать имеющиеся навыки и компетенции, требуемые для успешной работы в химической, биотехнологической, фармацевтической, медицинской, пищевой, металлургической, микробиологической, нефтехимической, топливной промышленности, реализации профессиональных задач в научно-исследовательской деятельности.
            Данный курс представляет собой 2-ю часть общего курса «Аналитическая химия».
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для освоения дисциплины необходимы общие знания школьной программы. </p>
      <p><b>Результаты обучения:</b>
            планировать и проводить вычислительные и экспериментальные исследования веществ, химико-технологических процессов;
            применять знания фундаментальных закономерностей аналитической химии при 	интерпретации полученных результатов исследования;
            выбирать и применять  методы физико-химического  анализа для решения фундаментальных и технологических  задач;
            проводить статистическую обработку результатов аналитических исследований.
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Безопасность жизнедеятельности </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 12 недель</p>
      <p><b>Описание курса:</b> В курсе «Безопасность жизнедеятельности» рассматриваются современные проблемы и угрозы развития цивилизации, медико-биологические и психологические основы безопасности жизнедеятельности, физическое и психологическое здоровье человека, понятия охраны труда,  анализируются действия человека при чрезвычайных ситуациях, демонстрируются приемы оказания первой медицинской помощи при авариях, чрезвычайных ситуациях и резком ухудшении здоровья. </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для освоения учебного курса требуются знание  основ безопасности жизнедеятельности в рамках программы средней школы </p>
      <p><b>Результаты обучения:</b>
            <br>умение идентифицировать угрозы и риски, негативно влияющие на жизнь и здоровье человека;</br>
            <br>умение  поддерживать безопасные условия жизнедеятельности человека в современном мире, в том числе при природных и техногенных чрезвычайных ситуациях;</br>
            <br>умение   выявлять экологические угрозы и управлять рисками в целях сохранения окружающей среды и 	обеспечения устойчивого развития;</br>
            <br>умение организовать безопасное рабочее место с учетом требований эргономики, методов и средств защиты от опасных и вредных факторов в перспективной цифровой экономике;</br>
            <br>умение применять медико-биологические и психологические знания для обеспечения безопасности человека, в том числе при экстремальных ситуациях;</br>
            <br>умение  создавать безопасные условия труда, руководствуясь законодательной и нормативной базой.</br>
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Беспроводные телекоммуникационные системы </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 16 недель</p>
      <p><b>Описание курса:</b> Курс направлен на формирование представлений о физическом уровне построения телекоммуникационных сетей. Рассматриваются функциональные блоки построения сетей, методы разделения каналов передачи информации, основы формирования сигналов в системах беспроводной связи </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для успешного освоения курса необходимы знания курсов алгебры, математического анализа, векторной алгебры и общего курса физики </p>
      <p><b>Результаты обучения:</b>
            В результате изучения дисциплины обучающийся будет способен:
            изложить основные принципы построения и функционирования современных электронных систем;
            анализировать результаты моделирования и тестирования электронных средств и систем;
            разрабатывать модели спектрального представления дискретных сигналов.
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Введение в биологию и экологию </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 16 недель</p>
      <p><b>Описание курса:</b> Курс носит фундаментальный характер и позволяет обучающимся понять место жизни во Вселенной, ее свойства и проявления, место человека в природе. Будет сформировано представление о возможности использования живых систем от молекул и клеток до экосистем для решения глобальных проблем, стоящих перед человечеством.
            Сегодня биология одна из самых бурно развивающихся областей научного знания. Ни одна область деятельности людей, с одной стороны, не обходится без решения вопросов воздействия материалов, механизмов, технологий на живые системы, с другой - биотехнологии все интенсивнее внедряются в 	нашу жизнь, обеспечивая человечество пищей, материалами, лекарствами, необходимыми качествами среды. Изучение дисциплины направлено на формирование как общекультурных компетенций, так и 	профессиональных, связанных с вопросами взаимодействия живого с природными и техническими системами, биобезопасности, биоэтики, биоэкономики.
            В процессе освоения дисциплины у студентов будет сформировано системное биосферное природоцентрическое мышление.
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для успешного освоения курса необходимы знания школьного курса биологии </p>
      <p><b>Результаты обучения:</b>
            <br>РО1. Формирование представлений о принципах организации и функционирования живых систем, закономерностях взаимодействия живых организмов с окружающей средой и друг с другом.</br>
            <br>РО2. Формирование ответственного отношения к живой природе, использование принципов 	биоэкологической безопасности в профессиональной деятельности.</br>
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Введение в биологию клетки </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 17 недель</p>
      <p><b>Описание курса:</b> Основная задача курса - введение обучающихся в мир современной клеточной биологии. Клеточная биология - одна из самых быстро развивающихся областей современной науки: за последние несколько лет только за принципиальные глобальные открытия в этой области четырежды вручалась Нобелевская премия, частные же открытия делаются практически каждый день. Курс познакомит слушателей с сегодняшними и перспективными потребностями биологии, структурной и функциональной организации биологических объектов, механизмами гомеостатической регуляции;  основными физиологическими методами анализа и оценки состояния живых систем, принципами клеточной организации биологических объектов и др. Курс предназначен для всех студентов, обучающихся по направлениям Биология, Биотехнология, Фундаментальная медицина, а также для абитуриентов, глубоко интересующихся клеточной биологией и студентов-экологов, занимающихся биоэкологией и биомониторингом. </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для освоения курса требуются знание школьного курса "Общая биология" </p>
      <p><b>Результаты обучения:</b> Cоотносить основные этапы развития клеточной биологии с этапами накопления знаний в других областях науки и техники, которые привели к открытию - пользоваться методом световой микроскопии и цитогистохимическими методами при изучении клетки.
	        Идентифицировать и анализировать разные типы клеток, клеточные органоиды, клеточные процессы.
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Взаимодействие государства и бизнеса в условиях цифровой трансформации </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 16 недель</p>
      <p><b>Описание курса:</b> В курсе рассматриваются вопросы, связанные с изменением ключевых процессов взаимодействия государства и бизнеса в условиях цифровой трансформации экономики и государственного управления.
            <br>В качестве таких ключевых процессов рассматривается:</br>
            <br>-  развитие электронного взаимодействия участников экономической деятельности;</br>
            <br>-  повышение эффективности инфраструктуры электронного правительства для оказания государственных услуг бизнесу и обществу;</br>
            <br>-  сокращение административной нагрузки на субъекты хозяйственной деятельности вследствие внедрения инструментов оценки регулирующего воздействия и изменения приоритетов и   технологий контрольно-надзорной деятельности.</br>
            <br>Цель курса – формирование у обучающихся новых компетенций в области цифровой экономики, обеспечивающих повышение их конкурентоспособности на рынке труда, а также - собственного видения дизайна экосистемы цифровой экономики, обеспечивающей взаимодействие государства и бизнеса в новых условиях трансформации управленческой деятельности и реализации функций государственного управления.</br>
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для освоения дисциплины необходимы общие знания школьной программы. </p>
      <p><b>Результаты обучения:</b>
            <br>1. пользоваться специализированными  информационными, обучающими, поисковыми ресурсами  для обоснования  использования АИТ и цифровых сервисов в деятельности конкретных субъектов публичного управления и бизнеса</br>
            <br>2. анализировать механизмы  и разрабатывать предложения по  совершенствованию цифрового взаимодействия государства и бизнеса в сфере государственного контроля</br>
            <br>3. анализировать механизмы  и предлагать пути использования цифровизации для создания благоприятных условий ведения бизнеса </br>
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Естественнонаучная картина мира </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 16 недель</p>
      <p><b>Описание курса:</b> Курс разделен на несколько частей (разделов).
            Первая посвящена основам методологии науки, позволяющим определить место и роль естественно-	научной картины мира среди других: философской, религиозной, художественной. Здесь же рассматриваются методы познания, анализируется роль научного наблюдения и эксперимента в познании природы, студентам предлагается провести простейшие измерения и оценить погрешности.  Не остается без внимания и история естествознания.
            Во второй части студенты знакомятся с представлениями о Вселенной, звездах, Солнечной системе и наконец, планеты Земля. При этом реализуется два подхода: первый позволяет понять всю сложность строения и движения космических тел, второй - их развитие в различных временных масштабах. Греки Космосом называли мир упорядоченный, прекрасный в своей гармонии в отличие от Хаоса – первозданной сумятицы. Все наши знания о Вселенной происходят из наблюдений. Единственным источником информации является свет, пришедший из дальних миров.
            Третья часть посвящена наиболее общим естественнонаучным категориям (пространство, время, 	взаимодействиям) и микромиру. Мы говорим об элементарных частицах, атомах, корпускулярно-волновом дуализме, фундаментальных взаимодействиях, границах нашего знания.
            Четвертый раздел дает представление об особенностях строения и свойств живых организмов, различных уровнях организации живой природы, от молекулярного до биосферного. Рассматриваются вопросы особенностей химического состава живых организмов, передачи генетической информации, наследования признаков и эволюции живой природы. Обсуждаются вопросы взаимодействия живых организмов в сообществах и роль человека в изменении и поддержании экосистем.
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Общеобразовательный уровень полной средней школы. </p>
      <p><b>Результаты обучения:</b>
            В результате изучения курса, обучающиеся будут способны:
            осуществлять поиск, критический анализ и синтез информации, применять системный подход для 	решения поставленных задач;
            воспринимать межкультурное разнообразие общества в социально-историческом, этическом и 	философском контекстах;
            критически оценивать информацию и уметь выявлять в потоке информации лженаучные попытки манипулирования;
            собирать, обрабатывать и интерпретировать с использованием современных информационных технологий данные, необходимые для формирования суждений по соответствующим социальным, научным и этическим проблемам.
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Инженерная механика </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 18 недель</p>
      <p><b>Описание курса:</b> Данный курс ориентирован на реализацию образовательных программ по направлениям подготовки из области образования «Инженерное дело, технологии и технические науки». Курс содержит систематизированное изложение основных понятий и принципов механики, описание методов математического моделирования инженерных конструкций и типовых машин и механизмов. Содержание курса ориентировано на подготовку к восприятию последующих дисциплин, формирующих направленность образовательной программы. Курс соответствует дисциплине "Теоретическая механика".  Он может быть встроен в образовательные программы и в качестве раздела дисциплин: техническая механика, прикладная механика, механика. </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для успешного освоения курса «Инженерная механика» необходимы знания курсов:
            физика – раздел «Механика» в объёме среднего общего образования;
            математика – разделы: векторная алгебра, математический анализ (функция, предел, производная, 	интеграл), аналитическая геометрия (линия, плоскость, поверхности второго порядка);
            начертательная геометрия – понятие аксонометрической проекции.
      </p>
      <p><b>Результаты обучения:</b>
            После освоения курса обучающийся будет способен:
            описывать равновесие и движение материальной точки, системы материальных точек и системы твердых тел на основе базовых понятий, законов и теорем механики;
            составлять 2D- и 3D расчетные схемы, описывающие равновесие и движение типовых инженерных объектов;
            выбирать математические модели для определения геометрических параметров и силовых нагрузок в задачах равновесия и движения инженерных объектов;
            исследовать движение элементов типовых машин и механизмов;
            определять кинематические характеристики элементов типовых машин и механизмов при исследовании 	их движения;
            применять технику математических операций при составлении и решении уравнений, описывающих 	равновесие и движение инженерных объектов, согласно полученным математическим моделям.
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Информационные сервисы в управлении инженерной деятельностью </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 12 недель</p>
      <p>Описание курса: Является продолжением курса “Практики системной инженерии” и посвящен вопросам налаживания процессов системной инженерии на предприятии с использованием информационных сервисов. Постановка процессов – неотъемлемая часть деятельности системных инженеров и менеджеров, успех которой во многом зависит от методологии и выбранных технологий.
	        Цель курса – сформировать у слушателей минимально необходимый набор компетенций для начала трансформации инженерной деятельности на предприятии.
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для успешного освоения дисциплины жестких входных требований нет. </p>
      <p><b>Результаты обучения:</b>
            Понимать отличие между жизненным циклом и планом проекта.
            Собирать информацию для принятия инженерных решений от разных процессов жизненного цикла.
            Вести учет изменений и собирать информацию для принятия решения о соглашении или отказе в изменени.
            Проектировать и воплощать модели управления командой инженерного проекта.
            Выбирать модель жизненного цикла системы и проекта, оценивать сроки, бюджет и реалистичность проекта и всего жизненного цикла.
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Информационные технологии и сервисы </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 14 недель</p>
      <p><b>Описание курса:</b> В курсе рассматриваются фундаментальные вопросы об архитектуре компьютерных систем, цифровых данных, их хранению и обработке. Основная цель курса состоит в том, чтобы слушатели приобрели базовые знания и практические навыки работы с информационными сервисами, необходимыми каждому современному человеку в эпоху интернет технологий, а также получили представление о существующих современных операционных системах, их преимуществах и недостатках, понимали принципы работы локальных и глобальных вычислительных сетей, научились выбирать комплектующие вычислительной системы под свои задачи. Также слушатели получат базовые знания по самым актуальным вопросам использования информационных технологий, таких как искусственный интеллект и "умные вещи", что позволит использовать эти понятия в своей профессиональной деятельности. </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Базовые навыки работы с компьютером, планшетом или мобильным телефоном. </p>
      <p><b>Результаты обучения:</b>
            В результате изучения курса обучающиеся будут способны:
            использовать информационно-компьютерные технологии для совершенствования своей 	профессиональной деятельности;
            осуществлять поиск, анализ и оценку информации, необходимой для постановки и решения 	профессиональных задач, профессионального и личностного развития.
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">История России </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 17 недель</p>
      <p><b>Описание курса:</b> Курс «История России» в краткой и доступной форме рассказывает о процессах и явлениях в истории России в контексте всеобщей истории. Целью курса является формирование у слушателей ясных представлений о месте и роли России во всемирно-историческом процессе, выработка понимания политических, экономических, социальных и культурных явлений прошлого, а также формирование гражданской идентичности и исторического сознания.
            Курс построен по проблемно-хронологическому принципу. В первом разделе курса рассматриваются теоретико-методологические вопросы исторической науки. Каждый следующий раздел соответствует определенному периоду в истории России. Содержание раздела раскрывается через ключевые проблемные темы, выделяемые в исторической науке в рамках периода. Процессы, явления и главные, наиболее значимые для исторической памяти России события отечественной истории формируют основное содержание курса. Кроме того, в связи с иторией России в курсе рассматриваются ключевые синхронные процессы мировой истории.
            Основное внимание в курсе уделяется становлению и развитию российской государственности. В контексте периодов рассматривается развитие отечественной культуры, науки, техники, региональный компонент - история Большого Урала. В связи с отдельными темами курса на научной основе разбираются исторические проблемы и мифы, популярные в публичной сфере и медиа. В лекциях кратко рассматриваются источники исторической информации и методы работы с ними. Каждый раздел курса обеспечен интерактивным учебным заданием, предусматривающим комбинирование и анализ исторической информации, в том числе в форме исторических квестов и ролевых игр. Курс снабжен анимированными историческими картами.
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для освоения данного курса рекомендуется знание истории России и всеобщей истории в рамках программы средней школы. </p>
      <p><b>Результаты обучения:</b>
                <br>В результате обучения слушатели будут: </br>
                <br>- выявлять и давать характеристику ключевым процессам и событиям в российской 	истории, формирующим общегражданскую идентичность и историческое сознание;</br>
                <br>- оценивать взаимосвязь и динамику ключевых исторических процессов, явлений и событий в истории российского государства, а также сопоставлять их с процессами и явлениями мировой истории, определяя вклад России в рахвитии мировой цивилизации;</br>
                <br>- определять основные категории теории истории применять их для анализа исторических процессов и событий;</br>
                <br>- интерпретировать современные политические, социально-экономические и культурные процессы в контексте исторического развития, используя научные исторические категории и понятия, давать оценку информации в современной публичной сфере в том числе исторической информации в материалах СМИ;</br>
                <br>- выявлять возможные альтернативные варианты исторического развития, понимать причины и последствия реального выбора решений, сделанного государственными деятелями и общественными группами.</br>
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">История российской цивилизации </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 18 недель</p>
      <p><b>Описание курса:</b> Курс «История российской цивилизации» основан на проблемном уровне осмысления материала и нацелен на формирование исторического сознания обучаемого, что является основой для понимания сущности явлений и событий сегодняшнего дня. Содержание курса базируется на принципах научности и основывается на достижениях современной исторической науки и смежных исторических дисциплин: археологии, антропологии, этнографии и других, чему способствуют разносторонние компетенции авторов курса. Основное содержание курса составляет описание явлений, событий и персон, наиболее значимых для исторической памяти россиян, так как курс нацелен на формирование общегражданской идентичности российского общества.
        Курс вводит представление об истории человечества как общемировом процессе, поэтому сведения об основных событиях в истории зарубежных стран синхронно и взаимосвязано соотнесены с процессами и событиями отечественной истории. Уделено внимание общемировым и внутрироссийским тенденциям в сфере культуры науки, искусства, мировым конфликтам и революциям, повлиявшим на историю России. Сделан акцент на исторических периодах, в которые российская цивилизация сталкивалась с серьезными историческими вызовами (внутренними и внешними) и показаны пути их преодоления. Отмечен преимущественно созидательный характер деятельности Российского государства, в том числе в ходе освоения его обширных территорий. Уделено особое внимание истории Урала – его освоению, роли в отечественной истории и вкладе в развитие России.
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для освоения учебного курса требуется знание основ курса История в рамках школьной программы </p>
      <p><b>Результаты обучения:</b>
            <br>1. Интерпретировать конкретную историческую информацию в современной публичной сфере, в том числе в материалах СМИ, в контексте исторического опыта для принятия осознанных решений поставленных задач.</br>
            <br>2. Формулировать аргументы для защиты своей позиции по актуальным социокультурным проблемам на 	основе анализа и оценки различных подходов и точек зрения.</br>
            <br>3. Выявлять возможные альтернативные варианты исторического развития на основе анализа причин и последствий реального выбора в российской и мировой истории.</br>
            <br>4. Иметь опыт обоснования и аргументированного обсуждения проблем мировой и отечественной истории, актуальных проблем современности в историческом контексте с учетом многообразия систем 	социокультурных ценностей.</br>
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">История: 5 подходов к историческому развитию </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 16 недель</p>
      <p><b>Описание курса:</b> Курс «История: 5 подходов к историческому развитию» открывает возможность не только погрузиться в исторический материал, но и увидеть структурные связи возникновения взглядов, событий, эпох. Понимание принципов социальной динамики выводит слушателя на метауровень исторической рефлексии: даты, личности, причины и поводы перестают быть самоцелью обучения. В данном курсе они создают контекст интерпретации, которая является результатом сформированного в ходе освоения курса критического и гибкого мышления. </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для освоения курса требуются общие знания по курсу «История» средней школы </p>
      <p><b>Результаты обучения:</b>
            <br>Умение осуществлять методологически грамотную интерпретацию исторических процессов/ событий в рамках изученных подходов</br>
            <br>Умение анализировать факторы, влияющие на ход социально-исторических событий</br>
            <br>Умение устанавливать исторические взаимосвязи между фактами, событиями, явлениями</br>
            <br>Умение выявлять взаимное влияние исторических событий и микрокосма отдельного человека</br>
            <br>Умение определять особенности этапа жизни общества и различные течения общественной мысли</br>
            <br>Умение применять критическое мышление при анализе исторических явлений</br>
      </p>
  </div>
</details>
    </nav>
</body>
</html>