{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/vyz.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">
</head>
<header>
    <div class="header-img">
        <button class="head-info"><img src="{% static 'main/img/FAQ.png' %}" width="180px"></button>
        <button class="head-info"><img src="{% static 'main/img/cours.png' %}" width="180px"></button>
        <button class="head-info"><img src="{% static 'main/img/help.png' %}" width="180px"></button>
        </div>
</header>
<body>
    <div class="how">
        <h4>
            МИСИС - запись осуществляется студентом
        </h4>
    </div>
    <div class="info">
        <p>Курсы МИСиС</p>
        <div class="line"><img src="{% static 'main/img/skobka.png' %}" width="470px"></div>
    </div>
    <section>
        <div class="vsego">
            <p>Старт курсов 26.02.2024</p>
            <div class="cherta"><img src="{% static 'main/img/line 1.png' %}"></div>
        </div>
    </section>
    <div class="search-box">
      <input type="text" name="" class="search-txt" placeholder="Type to search"/>
      <a class="search-btn" href="#">
      <i class="fa fa-search" aria-hidden="true"></i>
      </a>
    </div>
    <nav>
        <details class="details">
  <summary class="details__title">Английский язык для инженеров </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 10 недель</p>
      <p><b>Описание курса:</b> Данный МООК  предназначен для специалистов, которые работают с литературой на иностранном языке для проведения исследований в области инженерии. В нем рассматриваются основные грамматические явления, а также предлагается алгоритм эффективного развития навыков чтения и слушания в обще-социальном и профессиональном контексте на уровне A2-В1. По завершению курса слушатели почувствуют себя более уверенными в понимании письменной и устной речи на английском языке. </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Уровень владения языком A2-В1 (CEFR) </p>
      <p><b>Результат обучения:</b> полное и достаточное представление основных грамматических элементов и явлений английского языка на уровне  B1-B2 </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Введение в инженерию больших данных </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 10 недель</p>
      <p><b>Описание курса:</b> В ходе курса вы узнаете о среде для работы с большими данными - Apache Hadoop, а также познакомитесь с двумя основополагающими компонентами фреймворка Apache Hadoop: HDFS - распределенной файловой системой, MapReduce - подходом для обработки большого объема данных.
          Вы сможете узнать об основных компонентах экосистемы Apache Hadoop. Узнаете в чем отличие MapReduce от Yarn, и почему появился Spark.
          Узнаете что полезного можно получить из интернета. В практической части курсы мы выкачаем данные из twitter, произведем их очистку и обогащение, а после визуализируем.
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для успешного освоения обучающиеся должны владеть базовыми знаниями языка SQL </p>
      <p><b>Результат обучения:</b> В результате освоения курса у обучающихся формируются следующие компетенции:
            владеет основными понятиями и характеристиками больших данных
            знает основные компоненты Apache Hadoop
            знаком с HDFS и MapReduce
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Детали машин и основы конструирования </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 13 недель</p>
      <p><b>Описание курса:</b> В начале курсе излагаются понятия и определения, используемые в машиностроении, критерии работоспособности деталей машин, основные машиностроительные материалы, нормирование точности изготовления деталей, рассматриваются различные варианты соединения деталей: резьбовые, сварные, заклепочные, шпоночные, шлицевые и т.д.
            Подробно изучаются наиболее используемые механизмы в машиностроении - механические передачи, а именно зубчатые передачи (среди них планетарные, червячные, волновые), фрикционные, цепные, а также передачи «винт-гайка».
            Рассматриваются их кинематические расчеты, расчеты на прочность и жесткость, методы рационального выбора материалов и способы соединения деталей, расчеты валов и осей, подшипников, муфт.
            В конце курса на примере одного из редукторов обобщается методика конструирования привода: от расчетов его кинематических и энергосиловых параметров до определения размеров подшипников
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для полноценного освоения курса слушатель должен владеть базовыми знаниями из курсов математики, инженерной графики, теоретической механики, сопротивления материалов. </p>
      <p><b>Результат обучения:</b>
            В результате освоения курса у обучающихся формируются следующие компетенции:
	        знает основные типы соединений деталей машин, типы и характеристики механических передач, типы и область применения подшипников качения и скольжения, муфт
	        составляет расчетные схемы нагружения узлов
	        определяет усилия, моменты, напряжения и перемещения, действующие на детали машин
	        проектирует и конструирует типовые элементы машин, выполняет их оценку по прочности, жесткости и другим критериям работоспособности
	        владеет навыками оформления проектной и конструкторской документации в соответствии с требованиями ЕСКД, навыками эскизного, технического и рабочего проектирования узлов машин
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">3ащита окружающей среды. Рециклинг. Часть 2 </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 10 недель</p>
      <p><b>Описание курса:</b>
            Дисциплина «Защита окружающей среды. Рециклинг. Часть 2» относится к базовой или вариативной части математического и естественно-научного цикла дисциплин при освоении ООП по направлениям подготовки.
            Городская среда представляет собой комплекс природных, природно-антропогенных и социально-экономических факторов, оказывающих разнообразное воздействие на жителей городов. Создание комфортной экологически безопасной городской среды жизненно важно для человека, поэтому экология городской среды — актуальнейшее направление современной науки.
            Рассматриваются проблемы и методы создания и поддержания экологической среды городов, мегаполисов и урбанизированных территорий как комплекса природных, антропогенных и социально-экономических факторов. Анализируются пути создания мегаполисов с экономичными, энергосберегающими зданиями и инженерными сооружениями, экологически безопасной инфраструктурой и ландшафтами.
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Изучение курса опирается на объем ранее изученного материала в курсах «Экология», «Основы экологии», «Техносферная безопасность», «Защита окружающей среды» </p>
      <p><b>Результат обучения:</b>
            В результате освоения курса у обучающихся формируются следующие компетенции:
	        применяет в практической деятельности принципы рационального использования природных ресурсов и защиты окружающей среды
	        осуществляет выбор материалов для изделий различного назначения с учетом эксплуатационных требований и охраны окружающей среды
	        применяет основные принципы рационального использования природных ресурсов и защиты окружающей среды
	        использует профессиональные знания для минимизации негативных экологических последствий, обеспечения безопасности и улучшения условий труда в сфере своей профессиональной деятельности
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Инженерная геология </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 19 недель</p>
      <p><b>Цель дисциплины:</b> изучение особенностей инженерно-геологического обеспечения добычных и строительных работ на стадиях проектирования, строительства, эксплуатации и их ликвидации.</p>
      <p><b>Задачи дисциплины:</b>
            изучение возможности применения инженерно-геологических методов для информационного обеспечения геотехнологий;
            анализ особенностей состава, методов и средств инженерно-геологических работ при проектировании, строительстве, эксплуатации и ликвидации гражданских и промышленных сооружений, карьеров, шахт и других подземных сооружений;
            изучение особенностей неоген-четвертичных отложений как оснований для строительства и наиболее неустойчивых пород;
            изучение горно-геологических явлений, возникающих при ведении горных и строительных и работ и методы борьбы с ними;
            формирование навыков владения методами оценки и минимизации рисков, связанных с инженерно-геологическими явлениями.
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для успешного освоения обучающиеся должны владеть знаниями по математике (основы статистики, дифференциально-интегральное счисление, арифметику), геологии (основы минералогии и петрографии, общие закономерности строения земной коры, геохимия, залегание горных пород). </p>
      <p><b>Результат обучения:</b>
            В результате освоения курса у обучающихся формируются следующие конечные результаты:
          <br>Знать:</br>
            <br>-общие сведения о состоянии и свойствах горных пород;</br>
            <br>-инженерно-геологическую классификацию горных  пород;</br>
            <br>-инженерно-геологические  процессы,  влияющие  на  разработку  МПИ  и строительство инженерных сооружений;</br>
            <br>-особенности отложений четвертичного периода.</br>
      </p>
      <p><b>Уметь:</b>
            <ul>
                <li>анализировать результаты инженерно-геологических изысканий;</li>
                <li>строить инженерно-геологические разрезы, планы и карты;</li>
                <li>оценивать инженерно-геологические и гидрогеологические условия разработки МПИ и освоения территорий;</li>
                <li>осуществлять оценку опасности горно-геологических явлений на осваиваемых территориях.</li>
            </ul>
      </p>
      <p><b>Владеть:</b>
            <ul>
                <li>методами определения вещественного состава, фильтрационных и физико-механические свойств раздельнозернистых и связных горных пород;</li>
                <li>понятийно-терминологическим аппаратом в области инженерной геологии;</li>
                <li>навыками составления инженерно-геологической документации;</li>
                <li>способами численной оценки инженерно-геологических условий территорий;</li>
                <li>навыками постановки целей и задач для выполнения инженерных изысканий при освоении МПИ и территорий.</li>
            </ul>
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Информатика для инженеров и исследователей </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 15 недель</p>
      <p><b>Описание курса:</b> Курс является базовой дисциплиной в техническом образовании. Разделы онлайн-курса закладывают знания, необходимые при дальнейшем изучении специальных дисциплин студентов инженерных направлений. В различных разделах курса рассматриваются общие понятия и фундаментальные основы информатики, технические основы ЭВМ, прикладные офисные пакеты. Особое внимание уделяется вопросам алгоритмизации и программирования, работе с базами данных, системной и программной инженерии, основам информационной безопасности. Отдельно рассматриваются вопросы представления графической информации. Особое место в курсе отведено робототехнике и вопросам искусственного интеллекта. Прикладной интерес также представляют разделы, посвященные информационному обеспечению научных исследований, автоматизации научных исследований, а также связи информатики с современными образовательными технологиями. </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для успешного освоения онлайн-курса слушателю желательно владеть основными знаниями из школьного курса математики и информатики, а также владеть персональным компьютером на уровне уверенного пользователя </p>
      <p><b>Результат обучения:</b>
            <br>В результате освоения курса у обучающихся формируются следующие компетенции:</br>
            <br>-знает теоретические основы информатики, средства и алгоритмы представления, хранения и обработки текстовой, числовой и графической информации, принципы работы компьютера, основные типы программного обеспечения; современные языки программирования; базовые средства программирования на алгоритмическом языке высокого уровня (VBA, C#, Python); основные принципы создания пользовательского интерфейса для прикладных программ;</br>
            <br>- понимает алгоритмы и языки программирования; современные операционные системы;</br>
            <br>- составляет программы на алгоритмическом языке в одной из сред программирования;</br>
            <br>- работает в современных операционных системах;</br>
            <br>- использует текстовые процессоры и электронные таблицы;</br>
            <br>- владеет навыками работы в сети Internet и культурой алгоритмического мышления, навыками поиска и анализа информации;</br>
            <br>- применяет полученные теоретические знания на практике.</br>
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Менеджмент качества при создании инновационных продуктов </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 16 недель</p>
      <p><b>Описание курса:</b>
            <br>Задачи дисциплины:</br>
            <br>-Познакомиться с основными направлениями развития современного менеджмента качества;</br>
            <br>-Изучить основные принципы «качественного управления» и методов реализации этих принципов как на предприятиях – потребителях продуктов и услуг в сфере ИТ, так и в ходе ИТ - проектов;</br>
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b>  Специальных знаний для прохождения курса не требуется. </p>
      <p><b>Результат обучения:</b>
            <br>Понимание:</br>
	        основных направлений развития современного менеджмента качества;
	        основных принципов «качественного управления» и методов реализации этих принципов при создании инновационных продуктов и услуг;
	        роли коммуникаций и ИТ во внедрении принципов «качественного управления»;
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Общая химия</summary>
  <div class="details__content">
      <p><b>Длительность:</b> 10 недель</p>
      <p><b>Описание курса:</b> Курс «Общая химия» является элементом математического и естественного цикла (базовой части) подготовки бакалавров и специалистов нехимических и химических направлений подготовки. Актуальность курса достигается за счет современного и систематического изложения основных концепций и законов химии.  </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для полноценного освоения учебного материала по дисциплине студент должен
            владеть химической терминологией; понимать смысл химических формул и символов, индексов и коэффициентов в уравнениях химических реакций; иметь представления об основных классах неорганических соединений; иметь представление об атомно-молекулярном учении; иметь навыки решения простейших расчетных задач.
            Кроме того, студент должен уметь работать с литературой, иметь навыки работы с персональным компьютером, работы в команде.
      <p><b>Результат обучения:</b>
            <br>В результате освоения курса у обучающихся формируются следующие компетенции:</br>
            <ul>
                <li><b>знает</b> - строение атомов и молекул, их взаимодействие и характеристики; периодический закон и периодическую систему Д.И. Менделеева; классификацию и свойства химических элементов и их соединений, реакционную способность веществ; фундаментальные константы химии; методы химической идентификации веществ; общие закономерности химических процессов; основные процессы, протекающие в растворах электролитов и неэлектролитов; методы теоретического и экспериментального исследования химических процессов; классификацию реакций и процессов, используемых в химии; закономерности, присущие химическим системам; алгоритмы решения конкретных  задач с использованием химических и физико-химических  законов;</li>
                <li><b>умеет</b> - использовать теоретические знания на практике; выявлять закономерности изменения в свойствах и строении веществ;  прогнозировать свойства элементов и соединений на основе положения элемента в Периодической системе и электронных представлений о структуре веществ;    анализировать свойства и строение веществ, используя химическую терминологию, номенклатуру, символику; оценивать условия и возможности  протекания реакций и управления химическими процессами; рассчитывать энергетические эффекты и энергозатраты; скорость получения и выход продуктов реакции; воздействовать на скорость химических процессов; проводить расчеты  количественных характеристик растворов электролитов и неэлектролитов; применять алгоритмы решения типовых задач на практике.</li>
            </ul>
      </p>
      <p></p>
      <p></p>
      <p></p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Персональная эффективность: тайм-менеджмент </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 10 недель</p>
      <p><b>Описание курса:</b>
            <br>Основными задачами данного курса являются:</br>
            определение и грамотное формулирование целей обучения, определение путей и планирования действий по их достижению
            определение ресурсов своего времени на решение учебных задач
            выявление своих индивидуальных поглотителей времени
            разработка собственной стратегии повышения эффективности использования времени
            планирование задач с учетом приоритетности
            эффективное управление задачами в плане с учетом «горизонтов» планирования
            создание эффективного обзора своих дел, задач, информации с использованием различных групп инструментов
            применение инструментов тайм-менеджмента для повышения личной работоспособности
            использование различных способов самонастройки на решение задач разной сложности
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для изучения курса желательно наличие начальных знаний в области самоорганизации, планировании </p>
      <p><b>Результат обучения:</b>
            <br>В результате освоения курса у обучающихся формируются следующие компетенции:</br>
            применяет  инструменты тайм-менеджмента для повышения личной работоспособности
            выявляет свои индивидуальные поглотителей времени
            разрабатывает собственные стратегии повышения эффективности использования времени
            использует  различные способы самонастройки на решение задач разной сложности
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Проектирование в Autocad </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 10 недель</p>
      <p><b>Описание курса:</b> Обучение чертёжному мастерству раньше занимало долгие месяцы, а иногда и годы. Но сегодня создание чертежей и макетов на профессиональном уровне может стать доступным каждому в довольно короткие сроки благодаря программе AutoCAD. Эта программа является мировым лидером в сфере черчения, проектирования, двухмерной и трёхмерной графики. </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Средний уровень владения компьютером </p>
      <p><b>Результат обучения:</b>
            <br>В результате освоения курса у обучающихся формируются следующие конечные результаты:</br>
      </p>
      <p><b>Знать:</b>
          <ul>
            <li>Интерфейс программы;</li>
            <li>Основные инструменты</li>
          </ul>
      </p>
      <p><b>Уметь:</b>
          <ul>
            <li>Создавать собственные чертежи</li>
            <li>Создавать собственные блоки, загружать шрифты</li>
            <li>Выводить на печать документы</li>
          </ul>
      </p>
      <p><b>Владеть:</b>
          <ul>
            <li>Всеми базовыми функциями программы</li>
          </ul>
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Русский язык: культура речи и деловое общение </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 5 недель</p>
      <p><b>Описание курса:</b> Онлайн-курс охватывает некоторые темы дисциплин «Русский язык и культура речи», «Основы практической риторики», «Деловой русский язык»,  «Персональная эффективность». Курс читают преподаватели Центра русского языка, кафедры социальных наук и технологий НИТУ МИСИС, а также привлеченный преподаватель. Уроки содержат теоретический материал и иллюстрирующие его примеры. Полученные при изучении курса знания необходимы для успешной коммуникации в социальной и деловой сферах общения.  </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для успешного освоения онлайн-курса слушателю нужно владеть русским языком в объеме средней школы. </p>
      <p><b>Результат обучения:</b>
            <br>В результате освоения курса у обучающихся формируются следующие компетенции:</br>
            <br>- знает коммуникативные нормы современного русского литературного языка; русский речевой этикет; условия эффективного общения; основные принципы делового общения в письменной и устной форме; базовые принципы составления презентаций;</br>
            <br>- исправляет речевые и грамматические ошибки в тексте; логично строит высказывания;</br>
            <br>- владеет навыками деловой переписки; редактирования простых текстов.</br>
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Управление интеллектуальной собственностью - основы для инженеров </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 10 недель</p>
      <p><b>Описание курса:</b> Если вы хотите увидеть ваше изобретение внедренным и успешным на рынке, то вам необходимо знать, как правильно нужно управлять создаваемой вами интеллектуальной собственностью (ИС), и наш курс поможет вам разобраться в этом.
            В курсе изучаются различные объекты ИС – изобретения, полезные модели, дизайн, программное обеспечение, базы данных, а также обсуждаются способы их правовой охраны (например, с помощью патентов) и анализируются возможности управления ими (заключение лицензионных договоров на использование и т. д.).
            Особое внимание в программе курса уделяется именно изобретению как наиболее часто используемому в инженерном деле объекту ИС и возможности правовой охраны изобретения с помощью патента. Рассматриваются различные виды патентных исследований и возможности их проведения с помощью современных баз данных в интернете, в том числе коммерческих баз с расширенными возможностями поиска и аналитики. Обсуждаются основные формы коммерциализации объектов ИС, в частности, лицензирование технологий, анализируется практика коммерциализации технологий на примере ведущих зарубежных университетов.
            В курсе используется доступный для понимания язык, приводятся многочисленные примеры из практики, облегчающие восприятие материала.
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Специальных знаний для прохождения курса не требуется. </p>
      <p><b>Результат обучения:</b> <br>Вы научитесь:</br>
            выявлять и отделять друг от друга различные объекты ИС, выбирать наиболее подходящую форму правовой охраны для них.
            узнаете, зачем необходимо защищать свое изобретение с помощью патента, как это сделать наиболее эффективно, и что необходимо предпринять, чтобы избежать нарушения чужих патентов.
            научитесь читать патентную информацию по российским и зарубежным патентным документам, пользоваться современными базами данных патентов в сети интернет.
            узнаете, как можно коммерциализировать ваше изобретение, и познакомитесь с лучшими практиками в этой области.
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Управление проектами в современной компании </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 10 недель</p>
      <p><b>Описание курса:</b> Задачами дисциплины является приобретение теоретических знаний и практических навыков в осуществлении основных функций управления проектами, таких как:
            Определение состава работ и очередности их выполнения в проекте;
            Контроль выполнения планов и графиков работ участниками проекта;
            Осуществление оценки состояния проекта;
            Осуществление детального планирования работ по проекту;
            Представление результатов работ и отчетов с требуемой периодичностью и в требуемой форме;
            Контроль правильности учета затрат рабочего времени участниками проекта.
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> К слушателям не предъявляются специальные требования. </p>
      <p><b>Результат обучения:</b> <br>Знать:</br>
            <br>-основные принципы и инструменты стратегического и оперативного управления компанией, ведения бизнеса;</br>
            <br>-принципы и методы корпоративного управления проектами;</br>
            <br>-структуру, содержание, порядок формирования и применения корпоративного стандарта управления проектами;</br>
            <br>-подходы к реализации системы управления проектами на основе стандарта организации.</br>
      </p>
      <p><b>Уметь:</b>
          <ul>
            <li>разрабатывать документы управления проектами в соответствии с требованиями стандартов;</li>
            <li>разрабатывать основные документы корпоративного стандарта управления проектами (план управления проектами, учет затрат рабочего времени, отчет о статусе проекта, журналы рисков, проблем изменений и др.).</li>
          </ul>
      </p>
      <p><b>Иметь представление:</b>
          <ul>
            <li>о международных и национальных стандартах управления проектами;</li>
            <li>о механизмах и основах методологии профессионального управления проектами.</li>
          </ul>
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Философия для инженеров и исследователей </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 15 недель</p>
      <p><b>Описание курса:</b>  Курс «Философия для инженеров и исследователей» предназначен для знакомства с основными направлениями философской мысли, авторами главных идей в философии и их сочинениями. Основная цель курса – развить у слушателей рационально-критическое мышление и интерес к фундаментальным знаниям, стимулировать потребность к философским оценкам действительности.
            Курс формирует способность использовать основы философских знаний для формирования мировоззренческой позиции, способность понимать и анализировать мировоззренческие, социально и личностно значимые философские проблемы, способность применять понятийно-категориальный аппарат философии и гуманитарных наук в профессиональной деятельности.
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Для полноценного освоения учебного материала по дисциплине студент должен использовать знания, полученные предварительно в объеме, предусмотренном программами общего среднего образования, а также знания и умения, приобретаемые в процессе изучения курса «Истории». </p>
      <p><b>Результат обучения:</b>
            В результате освоения курса обучающийся достигает следующие результаты:
            знает теоретические основы поиска, критического анализа и синтеза информации, системного подхода для решения поставленных задач;
            осуществляет поиск, критический анализ и синтез информации;
            применяет теоретические знания для осуществления системного подхода при решения поставленных задач;
            знает основы социального взаимодействия, распределение ролей в команде;
            применяет знания о работе в команде, осуществляя социальное взаимодействие и реализуя свою роль в команде;
            знает основные особенности межкультурного разнообразия общества в социально-историческом, этическом и философском контекстах;
            применяет полученные теоретические знания о межкультурном разнообразии общества в социально-историческом, этическом и философском контекстах.
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Цифровые образовательные технологии </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 6 недель</p>
      <p><b>Описание курса:</b> Курс предполагает краткий обзор истории изменений происходившего в мировой истории, которые повлияли на современный мир. Обзор цифровых технологий, а также знакомство с передовыми педагогическими технологиями. </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Курс рассчитан на широкий круг участников, специальная подготовка не нужна.</p>
      <p><b>Результат обучения:</b>
            <br>В результате освоения курса у обучающихся формируются следующие компетенции:</br>
            знает современные информационные образовательные технологии, современные технологии организации обучения
            применяет разнообразные образовательные технологии в соответствии с целями образовательного процесса
            владеет приемами разработки и реализации современных образовательных моделей, методик, технологий и приемов обучения, способами анализа результатов процесса и их использования
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Экономическая теория для неэкономических направлений подготовки </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 16 недель</p>
      <p>
          <b>Описание курса:</b> Онлайн-курс охватывает классический материал разделов «Экономическая теория». Курс читают преподаватели кафедры экономики НИТУ МИСИС, преподаватели «Финансового университета при Правительстве РФ», практические сотрудники экономических структур.  Уроки содержат теоретический материал, примеры решения задач, задания на понимание темы. Большое внимание уделено рассмотрению реального смысла и содержания основных понятий и законов. Показано применение изучаемых законов при решении конкретных задач. Полученные при изучении курса знания необходимы при освоении различных конкретных экономических специальностей.
          <br>Международная ассоциация организаций финансово-экономического образования  рекомендовала онлайн-курс «Экономическая теория для неэкономических направлений подготовки» для использования в учебном процессе, отметив, что курс является академически проработанным, актуальным и соответствует требованиям, предъявляемым к результатам обучения образовательных программ, реализуемых в вузах.</br>
      </p>
      <p><b>Формат:</b> заочная</p>
      <p></p>
      <p><b>Требования:</b> Для успешного освоения онлайн-курса слушателю желательно владеть основами математического анализа. </p>
      <p><b>Результат обучения:</b>
            <br>В результате освоения курса у обучающихся формируются следующие компетенции:</br>
            <br>- знает основные понятия, категории, инструменты и модели микроэкономики, макроэкономики и мировой экономики;</br>
            <br>- определяет основные закономерности функционирования субъектов современной экономики на микро – и макроуровне; закономерности функционирования и развития национальной и мировой экономических систем.</br>
            <br>- связывает проблемы экономического характера при анализе конкретных ситуаций и способы их решения с учетом критериев социально-экономической эффективности и возможных социально-экономических последствий.</br>
            <br>- владеет основными методами количественного анализа экономических процессов;</br>
            <br>- наделен способностью принятия рациональных экономических решений при анализе поведения потребителей, производителей, собственников ресурсов и государства.</br>
      </p>
  </div>
</details>
<details class="details">
  <summary class="details__title">Этика академического письма </summary>
  <div class="details__content">
      <p><b>Длительность:</b> 8 недель</p>
      <p><b>Описание курса:</b> Цель курса: дать правильное представление об этических аспектах в отношении академического письма, включая такие виды как научные отчеты, статьи, рефераты, презентации, курсовые работы, выпускные квалификационные работы, диссертации.
            В результате обучения слушатели получат представление о Российском законодательстве в части, регулирующей авторские права и ответственность за их нарушение, международной практике в отношении плагиата,  ознакомятся с правилами цитирования различных источников информации, усовершенствуют навыки создания и редактирования академических текстов разного уровня, научатся правилам оформления библиографических ссылок на первоисточник и списка использованных источников  и другим видам работ.
      </p>
      <p><b>Формат:</b> заочная</p>
      <p><b>Требования:</b> Специальных требований нет. </p>
      <p><b>Результат обучения:</b>
            <br>В результате освоения курса у обучающихся формируются следующие компетенции:</br>
          <ul>
            <li>корректно цитирует разные источники информации;</li>
            <li>применяет знания нормативной законодательной базы РФ в области соблюдения авторских прав на письменные научные работы;</li>
            <li>проводит анализ письменных источников на предмет корректности цитирования и уникальности работы;</li>
            <li>владеет навыками работы в системе Антиплагиат.</li>
          </ul>
      </p>
  </div>
</details>
    </nav>
</body>
</html>